.modal-content {
    margin-top: 2.5%;
}

img#image {
    width: 95%;
    height: 60vh;
    margin-left: 2%;
}

iframe#map {
    width: 98%;
    height: 29vh;
}

table#tb_info {
    border: none;
}

.modal_txt_dados {
    font-size: 2.6vh !important;
}

.button.blue {
    margin-top: -3vh;
}